<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
	<script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
	<meta name="viewport" content="width=device-width, target-densitydpi=165, minimum-scale=1.0, maximum-scale=1.0" />
  </head>
  <body>
    <%- body %>
  </body>
</html>
