body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	max-width: 600px;
	margin: auto;
}

a {
	color: #00b7ff;
}

ul.feed-items {
	margin: 0;
	padding: 0;
	font-size: 0;
	text-align: center;
}

ul.feed-items li {
	font-size: 14px;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    height: 100px;
    margin: 1px;
    padding: 0;
    position: relative;
    width: 100px;
}

ul.feed-items li a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

ul.feed-items li span {
    background-color: rgba(50, 50, 50, 0.6);
    bottom: 0;
    color: white;
    font-size: 12px;
    left: 0;
    overflow: hidden;
    padding: 1px;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    top: 68px;
    z-index: 1;
}

ul.feed-items li span:last-child {
	top: 15px;
}

ul.feed-items li img {
	bottom: 0;
	height: auto;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}

.article img {
	height: auto;
	max-width: 100%;
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 480px) {
	body { padding: 0; }
}

