<ul class="feed-items">
	<% for(var i = 0; i < items.length; ++i) { var item = items[i]; %>
		<li>
			<a href="/<%= item._id %>" title="<%= item.title %>">
				<span><%= item.title %></span>
				<% if(item.thumbUrl) { %>
					<img src="<%= item.thumbUrl %>" />
				<% } %>
			</a>
		</li>
	<% } %>
</ul>
